/src/tomatodo/tomatodo/bin/Debug/tomatodo.vshost.exe
/src/tomatodo/tomatodo/bin/Debug/tomatodo.vshost.exe.manifest
/src/tomatodo/*.suo
/src/tomatodo/tomatodo/bin/Debug
/src/xwin10ctrl
/src/xwin10ctrl.zip
/src/tomatodo/HInfoIF/obj
/src/tomatodo/HInfoIF/bin
/src/tomatodo/Tomatodo/obj
/src/tomatodo/Tomatodo/bin
/src/tomatodo/TomatoIF/obj
/src/tomatodo/TomatoIF/bin
